$main-green-color: #27A356;
$main-dark-gray-color: #1a1a1a;
$main-light-gray-color: #282829;
$placeholder-gray-color: #1f1f1fe2;
$hover-gray-color: #222222;
$text-gray-color: #888888;
$white-color: #ffffff;


